/* @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    background-color: #020a18;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1146px;
}

h1,p, {
    margin: 0;
}
html{
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 100px;
    background-color: #020b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header-item{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.intro{
    display: flex;
    /* gap: 128px; */
    justify-content: space-between;
    margin-top: 160px;
}

.intro-subtitle{
    color: #3A68B8;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.intro-title{
    color: #FFF;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
    width: 604px;
}

.intro-text{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 558px;
}

.intro-button-wrapper{
    display: inline-flex;
    gap: 20px;
}

.intro-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background-color: #3A68B8;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
}

.logos{
    display: flex;
    width: 1146px;
    /* margin: 197px auto 0; */
    margin-top: 197px;
    justify-content: space-between;
}

.about{
    display: flex;
    align-items: center;
    gap: 68px;
    justify-content: space-between;
    margin-bottom: 264px;
}

.about-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.about-text{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 50px;
    opacity: 0.7;
    width: 460px;
}

.about-button-wrapper{
    display: inline-flex;
    gap: 20px;
}

.sm-text{
    font-size: 16px;
}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px
    ;
}

.services-item-big{
    grid-column: span 2;
    grid-row: span 2;
}

.services-item{
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;

}

.services-title{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
    margin: 0;
}

.services-text{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}


.services-img{
    /* display: flex; */
    /* justify-content: center; */
}